{{template "base" .}}
{{define "title"}}Calculator actual!{{end}}

{{define "content"}}
<header>
    <h1>{{template "title" .}}</h1>
</header>

<main>
    <form id="form1">
        <label for="expression">Expression:
            <input type="text" id="expression" name="expression" minlength="1" pattern="^[\(\)0-9*\/+\- .]+$" required>
        </label>
        <input id="submit" type="submit" value="Calculate!" disabled>
        <p id="error"></p>
        <p id="result"></p>
    </form>
</main>
{{end}}

{{define "scripts"}}
<script src="/static/calc.js"></script>
{{end}}